In [17]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [18]:
data={
    "Career": [
        "Data Scientist",
        "Web Developer",
        "AI Engineer",
        "UI/UX Designer"
    ],
    "Required_Skills": [
        "Python, Machine Learning, Statistics",
        "HTML, CSS, JavaScript , React",
        "Python, Deep Learning, TensorFlow,NLP",
        "Adobe XD, Figma,UX Research, Graphic Design,Creativity"
    ]
}

In [19]:
df=pd.DataFrame(data)
df

           Career                                    Required_Skills
0  Data Scientist               Python, Machine Learning, Statistics
1   Web Developer                      HTML, CSS, JavaScript , React
2     AI Engineer              Python, Deep Learning, TensorFlow,NLP
3  UI/UX Designer  Adobe XD, Figma,UX Research, Graphic Design,Cr...

In [20]:
df.shape

(4, 2)

In [21]:
vectorizer=TfidfVectorizer()

In [22]:
skill_matrix=vectorizer.fit_transform(df['Required_Skills'])

In [24]:
print(skill_matrix.toarray())

[[0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.43779123 0.55528266 0.
  0.43779123 0.         0.         0.55528266 0.         0.
  0.        ]
 [0.         0.         0.5        0.         0.         0.
  0.         0.5        0.5        0.         0.         0.
  0.         0.5        0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.48546061 0.         0.
  0.         0.         0.         0.38274272 0.         0.48546061
  0.38274272 0.         0.         0.         0.48546061 0.
  0.        ]
 [0.35355339 0.35355339 0.         0.         0.35355339 0.35355339
  0.35355339 0.         0.         0.         0.         0.
  0.         0.         0.35355339 0.         0.         0.35355339
  0.35355339]]